.card-box{
    
    height: 150px;
    border-radius: 2px;
    border: 5px outset #0099ff;
    margin-top: 15px;
}
.picture{
    border-radius: 50%;
    border: 5px outset #0099ff;
    
}
.prof-name{
    color: black;
    
}

