.bigWrap {
    margin:20px;
    height: auto;
    border: 1px outset #d5f4e6;
    align-content: center;
    border-radius: 4px;
}

button {
    background-color: #d5f4e6 !important;
    margin-left: 30px;
    color: black !important;
    
}

input ::after {
    
    background-color: #d5f4e6 !important;
}


.sub-button{
    transition: 1s;
    margin-top: 20px;
    border-radius: 50%;
}

 