/* .imgBar {
    display: inline-block;
}
.Bizmage {
    display: inline;
    margin: 0;
    max-width: 16vw;
    max-height: 16vw;
}
.responsive-img {
    margin: 0;
    height: 16.5vw;
    width: 16.46vw;
}

.parallax-container {
    height: 31vh;
}

.parallax {
    height: 31vh;
} */

body, html {
    height: 100%;
  }
.parallax {
    /* Full height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
